@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="text-center">
    <h1 class="display-4">Hotel Reservation System</h1>
</div>
<script>
    Swal.fire({
        title: "Good, Welcome to Hotel Reservation System",
        icon: "success",
        timer: 5500
    });
</script>