@model UsersDTO

@{
    Layout = null;
}
<!Doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="limiter">
	<div class="container-login100" style="background-image: url('/images/bg-01.jpg');">
		<img sre="/images/bg-01.jpg" />
		@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
		{
			<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
		}
		<div class="wrap-login100 p-t-30 p-b-50" style="margin-left:8%">

			<form class="login100-form validate-form p-b-33 p-t-5" style="margin-top:35%" method="post" action="/Booking/Login" autocomplete="off">
				<div class="wrap-input100 validate-input" data-validate="Enter username">
					<input class="input100" type="text" asp-for="Username" placeholder="User name">
					<span class="focus-input100">
						<svg style="position: absolute; top: 35%; left: 6%; width: 25px; height: 25px; color: #a60f0f;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
							<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
						</svg>
					</span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Enter password">
					<div class="input-container">
						<input class="input100" type="password" asp-for="Password" placeholder="Password" id="passwordInput" required>
						<span class="show-password-icon" onclick="togglePasswordVisibility()">&#128065;</span> <!-- Eye icon -->
					</div>
					<span class="focus-input100">
						<svg style="position: absolute; top: 35%; left: 6%; width: 25px; height: 25px; color: #a60f0f;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
							<path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
						</svg>
					</span>
				</div>
				<div class="container-login100-form-btn m-t-32">
						<span class="HaveAccount"> Have Acount</span><br /><button type="submit" class="login100-form-btn" onclick="clearLocalStorage()">Login</button>
						<a class="login100-form-btn Customer" asp-action="Index" asp-controller="Home">
							/ Guest
						</a>
				</div>
					
			</form>
		</div>

	</div>
</div>
<script src="/js/main.js"></script>
<script>
    var loginState = '@TempData["error"]';
    if (loginState === "error") {
        Swal.fire({
            icon: "error",
            title: "Login Failed",
            text: "Username or Password is incorrect. Please try again.",
            timer: 5000,
        });
    }
		function togglePasswordVisibility() {
			var passwordInput = document.getElementById('passwordInput');
			if (passwordInput.type === "password") {
				passwordInput.type = "text";
			} else {
				passwordInput.type = "password";
			}
		}
</script>
</body>
</html>